<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
  <h3>LOGIN</h3>
  <p-floatlabel variant="on">
    <input pInputText id="email" formControlName="email" />
    <label for="email">Email</label>
  </p-floatlabel>

  <p-floatlabel variant="on">
    <p-password id="password" formControlName="password" [feedback]="false" [toggleMask]="true"></p-password>
    <label for="password">Password</label>
  </p-floatlabel>

  <p-button type="submit" label="Login" [disabled]="!loginForm.valid" class="w-100"></p-button>
</form>